.form-input {
    /* display: block;
    margin: 10px auto;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border-color: black; */
    all: unset;
    display: block;
    border: 1px gray solid;
    margin: 10px auto;
    border-radius: 4px;
    width: 40%;
    height: 40px;
    padding: 6px 12px;
}
/* .form-input::-webkit-input-placeholder {
    
} */
.login-page h1 {
    text-align: center;
}