.form-input {
    /* display: block;
    margin: 10px auto;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border-color: black; */
    all: unset;
    display: block;
    border: 1px gray solid;
    margin: 10px auto;
    border-radius: 4px;
    width: 40%;
    height: 40px;
    padding: 6px 12px;
}
/* .form-input::-webkit-input-placeholder {
    
} */
.login-page h1 {
    text-align: center;
}
#sign-in {
    all: unset;
    background-color: #9900FF;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#sign-in:hover {
    background-color: #5a0096;
}

.form-group {
    display: flex;
    flex-direction: column;
}